@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Elliot Schot:</strong> <a href="mailto:s3530160@student.rmit.edu.au">s3530160@student.rmit.edu.au</a><br />
    <strong>Albert Gromek:</strong> <a href="mailto:s3432636@student.rmit.edu.au">s3432636@student.rmit.edu.au</a>
</address>