@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>


<p>This is the FAQ (Frequently Asked Questions) Page</p>

<div>
    <h3>Website Usage</h3>
    <p>This is a venue booking system, usable by both staff and students.</p>
    <p>You will need to register (and be alocateed your role by our admin) and login to be able to use the system.</p>
    <p>Once logged in you will be give access to the apropriate pages, depending on your role.</p>
    <h4>Pages Summary</h4>
    <ul>
        <li>Staff: A list of the staff members within the system</li>
        <li>Students:  A list of the students within the system</li>
        <li>Rooms:  A list of the rooms within the system</li>
        <li>Slots (ALL): The main venue booking system. It will contain a list of all the current slots within the system, along with a filter system to allow users to filter out specific types of slots.</li>
        <li>Slots (Staff): as a staff member you can create new slots, delete slots without a booking and view all slot details</li>
        <li>Slots (Students): as a student you can book slots fror yourself, unbook your booked slots and view all slot details</li>
     </ul>
</div>

<div>
    <h3>Staff FAQ</h3>
    <p>Note: all of this asumes you are logged in as a staff member</p>
    <ul>
        <li>How do I create a slot? - Go to the "Slots" page in the nav bar, once there click on "Create New Slot" it will take you to the slot creation page. From there you can enter the details of the slot and submit (note: the business rules). After submission the page will then tell you if it was successfully created or not</li>
        <li>How do I delete a slot? - Go to the "Slots" page in the nav bar, once there find the slot you want to delete, and go to the far right of the slot and select "Delete Slot" and you are done. (note: delete slot will only apear with slots that do not have a booking)</li>
        <li>Why cant I find a slot in the past? - By default slots in the past no longer show up within the system, or allow interaction (book, edit, unbook)</li>
        <li>How do I allow the system to show slots in the past? - There is a global flag within the system that will allow the system to interact with slots in the past, you will need to request your administrator to turn on this flag.</li>
        <li>How do I know what the business rules are? - We will add this shortly, for now please reference the initial brief document</li>
    </ul>

    <h3>Students FAQ</h3>
    <ul>
        <li>How do I create a slot? - Only staff can create slots. Find a slot with no Student booking and book that.</li>
        <li>I booked a slot and I can no longer attend. What do I do? - Navigate to the slots page and find your booking. Click unbook, now it will be open to other students and your booking is cancelled..</li>
        <li>There's no more slots? - Speak to the staff member you wish to see and ask them to create some more slots.</li>
    </ul>
</div>

    @{await Html.RenderPartialAsync("_APIInfo");}
