<h1>Slot</h1>

<p>Summary of all Slots in ASR.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Room ID</th>
      <th>Staff ID (C)</th>
      <th>Student ID</th>
      <th>Start Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.roomID }}</td>
      <td>{{ forecast.staffID }}</td>
      <td>{{ forecast.studentID }}</td>
      <td>{{ forecast.startTime }}</td>
      <td>
        <a [routerLink]="['/employee/edit/', forecast.employeeId]">Edit</a> |
        <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

