@model IEnumerable<Room>

@{
    ViewData["Title"] = "Rooms";
}

<h3>Rooms List</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => room.RoomID)
                </td>
            </tr>
        }
    </tbody>
</table>