@model ASR_Web.Models.SlotViewModels.SlotCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Slot</h4>
<hr />
<div id="AddSlot">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Slot.RoomID" class="control-label"></label>
                    <select asp-for="Slot.RoomID" asp-items="Model.Rooms" class="form-control"/>
                    <span asp-validation-for="Slot.RoomID" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Slot.StartTime" class="control-label"></label>
                    <input asp-for="Slot.StartTime" class="form-control" />
                    <span asp-validation-for="Slot.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slot.StaffID" class="control-label"></label>
                    <input asp-for="Slot.StaffID" class="form-control" />
                    <span asp-validation-for="Slot.StaffID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slot.StudentID" class="control-label"></label>
                    <input asp-for="Slot.StudentID" class="form-control" />
                    <span asp-validation-for="Slot.StudentID" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}