
@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h3> Slot succesfully booked!</h3>
</body>
</html>
