@model ASR_Web.Models.Slot

@{
    //var staff = new Staff();
    //var student = new Student();
}



@{
    //RoomID
    //StartTime
    //StaffID
    //StudentID
}

<div id="AddSlot">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoomID" class="control-label"></label>
                    <input asp-for="RoomID" class="form-control" />
                    <span asp-validation-for="RoomID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StaffID" class="control-label"></label>
                    <input asp-for="StaffID" class="form-control" />
                    <span asp-validation-for="StaffID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentID" class="control-label"></label>
                    <input asp-for="StudentID" class="form-control" />
                    <span asp-validation-for="StudentID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



<div id="AddMovie">
    <div class="dropdown">
        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add Slot
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="margin-top:0">
            <li>
                <form asp-action="Create" method="post" class="clearfix" enctype="multipart/form-data">
                    <div class="col-xs-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <table>
                            <tr>
                                <td>Room ID</td>
                                <td><select asp-for="RoomID" required /></td>
                            </tr>
                            <tr>
                                <td>Start Time</td>
                                <td><input type="datetime" asp-for="StartTime" required /></td>
                            </tr>
                            <tr>
                                <td>Staff ID: </td>
                                <td><input type="text" asp-for="StaffID" required /></td>
                            </tr>
                            <tr>
                                <td>Student ID: </td>
                                <td><input type="text" asp-for="StudentID" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-left"><input type="submit" value="Create" /></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
